<script src="../socket.io/socket.io.js"></script>
{{#if isWaiting}}
<fieldset>
	<legend>Acciones de la rifa</legend>
	<div class="control" id="estado">
		<span class="key">Estado de la rifa:</span>
		<span class="value">{{state estado}}</span>
	</div>
	<div class="control">
		<label for="seleccion">Selección</label>
		<select id="seleccion" disabled="disabled">
		{{#each numeros}}
			<option value="{{this}}"{{notEmpty ../resultado this}}>{{this}}</option>
		{{/each}}
		</select>
		<label for="asignado">Asignado</label>
		<input id="asignado" type="text" disabled="disabled" />
		<button id="asignar" disabled="disabled">Asignar</button>
	</div>
</fieldset>
{{/if}}
{{#if isOpen}}
<fieldset>
	<legend>Acciones de la rifa</legend>
	<div class="control" id="estado">
		<span class="key">Estado de la rifa:</span>
		<span class="value">{{state estado}}</span>
	</div>
	<div class="control">
		<label for="seleccion">Selección</label>
		<select id="seleccion">
		{{#each numeros}}
			<option value="{{this}}" {{notEmpty ../resultado this}}>{{this}}</option>
		{{/each}}
		</select>
		<label for="asignado">Asignado</label>
		<input id="asignado" type="text" />
		<button id="asignar">Asignar</button>
	</div>
</fieldset>
{{/if}}
<fieldset id="grupo-visualizacion" class="not-visible">
	<legend>Visualización de números ganadores</legend>
	<div class="lista-numeros">
		<div class="numero"></div>
		<div class="lista"></div>
	</div>
</fieldset>
{{> numbers}}
<script>
	var socket = io.connect("/");

	$("#asignar").on("click", function() {
		var seleccion = $("#seleccion").val();
		var asignado = $("#asignado").val();
		if(seleccion && asignado) {
			socket.emit("number change", Number(seleccion), asignado);
		}
	});

	socket.on("number change", function(numero, asignado) {
		$("#" + numero + " .assign").text(asignado);
		$("#seleccion option[value=" + numero + "]").attr("disabled", "disabled");
	});

	socket.on("status change", function(status) {
		if(status === "abrir") {
			$("#estado .value").text("abierta");
			$("#seleccion").removeAttr("disabled");
			$("#asignado").removeAttr("disabled");
			$("#asignar").removeAttr("disabled");
		} else if(status === "cerrar") {
			$("#estado .value").text("cerrada");
			$("#grupo-visualizacion").addClass("visible").removeClass("not-visible");
			$("#seleccion").attr("disabled", "disabled");
			$("#asignado").attr("disabled", "disabled");
			$("#asignar").attr("disabled", "disabled");
		}
	});
</script>